Source: ros-hydro-std-msgs
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-generation
Homepage: http://www.ros.org/wiki/std_msgs
Standards-Version: 3.9.2

Package: ros-hydro-std-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime
Description: Standard ROS Messages including common message types representing primitive data types and other basic message constructs, such as multiarrays. For common, generic robot-specific message types, please see common_msgs.
